
.App {
  margin-top: 100px;
  text-align: center;
}

.upload {
  margin-top: 100px;
  background-color: steelblue; 
  color: white; 
  padding: 10px; 
  border-radius: 4px; 
  cursor: pointer;
  
}


.img-frame {
  margin: 15px;
  height: 200px;
  width: auto;
}


ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  
}